<!DOCTYPE html>
<html lang="en">
    <head>
        <title>flannelfy</title>
        <link rel="icon" type="image/x-icon" href="/static/images/flannel.ico">
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/login-style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Gothic">
    </head>

    <body>
        <div class="container">
            <div class="content">
                <h1>welcome to flannelfy</h1>
                <h2>to find your fantano score, log in through spotify.</h2>
                <h2></h2>
                <button onclick="window.location.href = '{{url}}'">login</button>
            </div>
        </div>

        <div class="footer">
            <p>created by <a href="https://github.com/raymbartlett" target="_blank">ray bartlett</a></p>
            <p>this site is in no way endorsed by or affiliated with theneedledrop</p>
            <img src="/static/images/spotify.png" alt="Spotify Logo"/>
        </div>

    </body>
</html>