<html>
    <head>
        <title>flannelfy.net - fantano score</title>
        <meta name="description" content="find your fantano score">
        <link rel="icon" type="image/x-icon" href="/static/images/flannel.ico">
        <meta charset="utf-8">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/login-style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Gothic">
    </head>

    <body>
        <div class="container">
            <div class="content">
                <h2>find your fantano score.</h2>
                <button id="spotify-button" onclick="window.location.href='{{url}}'">spotify</button>

                <button id="lastfm-button" data-toggle="modal" data-target="#user_info">last.fm</button>
                <div id="user_info" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <form action="/lastfm_results" method="POST">
                                <h4>username</h4>
                                <input type="text" id="username" name="username">

                                <h4>duration</h4>
                                <select name="duration" id="duration">
                                    <option value="overall">all time</option>
                                    <option value="7day">7 days</option>
                                    <option value="1month">1 month</option>
                                    <option value="3month">3 months</option>
                                    <option value="6month">6 months</option>
                                    <option value="12month">12 months</option>
                                </select>
                                <br><br>
                                <input type="submit" value="Submit">
                            </form>

                        </div>
                    </div>
                </div>

                <h3>or <a href="/all_scores">view all scores</a></h3>
            </div>
        </div>

        <div class="footer">
            <p>created by <a href="https://github.com/raymbartlett" target="_blank">ray bartlett</a></p>
            <p>this site is in no way endorsed by or affiliated with theneedledrop</p>
            <img src="/static/images/spotify.png" alt="Spotify Logo"/>
        </div>

    </body>
</html>